/* font family */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

html,
body {
    position: relative;
}

/* font-family */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label,
input,
select,
textarea {
    @apply font-body;
    letter-spacing: -0.2px;
}

button {
    @apply font-button;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label {
    display: block;
}
